
<!-- 
  This is the index page of the application.
  It extends the layout.html file and sets the title to "Index".
  The page contains a search form with a search button and a text input field.
  It also contains two dropdown menus for selecting a topic and a language.
-->
{% extends "layout.html" %} 
{% block title %}Index{% endblock %} 
{% block content %}
<!-- search bar -->
<div class="container">
    {{ message }}
</div>
<div class="container">
    <a class="btn btn-primary mt-5 mb-5" href="/form" role="button">Go to search form</a>
</div>

{% endblock %}
